node_modules/
bower_components/
coverage/
.idea/
.webapp-tmp/
webapp-dist/
.gradle

# specific project files
build/resources/main/lan\303\247amento-conta-legado.json
src/main/resources/lançamento-conta-legado.json
